/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('../fonts/nunito-v12-latin-regular.woff2') format('woff2');
}


// Variables
@import 'variables';

// Bootstrap colors
@import 'bootstrap_colors';

// Bootstrap fixed REM spacers
@import 'bootstrap_spacers';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vue Select
@import "~vue-select/src/scss/vue-select.scss";

// Vue: wait for components to fully load before showing content
[v-cloak] {display: none}

// Always show scroll bars to avoid content shifting
// Set height to maximum minus navbar
main {
    min-height: calc(100vh - 3.6rem);
    height: calc(100vh - 3.6rem);
    max-height: calc(100vh - 3.6rem);
    width: 100%;
    position: absolute;
    top: 3.6rem;
    overflow-y: scroll;
}

// General body background color for other elements
.bg-general {
    background-color: $body-bg;
}

// Fixes for EasyMDE (hide editor preview in edit mode, smaller toolbar, don't hide behind fixed menu bar)
.vue-easymde > .EasyMDEContainer > .editor-toolbar.fullscreen {
    z-index: 2000;
}

.vue-easymde > .EasyMDEContainer > .CodeMirror.fullscreen {
    z-index: 2000;
}

.vue-easymde > .EasyMDEContainer > .CodeMirror > :not(.editor-preview-active).editor-preview {
    display: none;
}

.vue-easymde > .EasyMDEContainer > :not(.fullscreen).editor-toolbar > button {
    width: 24px;
    height: 24px;
}

// Fixes for Vue Select to display correctly with Bootstrap CSS
.v-select .vs__dropdown-toggle {
    @extend .form-control;
    display: flex;
}

.vs__actions {
    padding: 0;
    display: flex;
    align-items: center;
}

.vs__clear {
    display: flex;
    align-items: center;
}

.vs__dropdown-option {
    padding: 0.375rem 0.75rem;
}

.vs__selected-options {
    margin-left: 0;
    padding-left: 0;
}

.vs__search, .vs__search:focus, .vs__selected {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

// Small vue select
.dropdown-sm > .vs__dropdown-toggle {
    height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem  !important;
    font-size: 0.7875rem  !important;
    line-height: 1.5  !important;
}

// Feather icons
svg.feather {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

svg.feather-12 {
    min-width: 12px;
    min-height: 12px;
    max-width: 12px;
    max-height: 12px;
}

svg.feather-16 {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
}

svg.feather-20 {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

svg.feather-24 {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
}

svg.feather-28 {
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
}

svg.feather-32 {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
}

// Empty state images
img.empty-state {
    min-width: 256px;
    max-width: 256px;
}

// Overview dropdown
.dropdown-toggle-vertical-points:after {
    border: none;
    content: '\2807';
}

.dropdown-toggle-vertical-points:hover, .dropdown-toggle-vertical-points:focus {
    text-decoration: none;
}

// Delete dropdown button with red text and white text with red background on hover
button.dropdown-item-delete {
    color: $danger !important;
}

button.dropdown-item-delete:hover {
    color: $danger !important;
}

button.dropdown-item-delete:active {
    color: #ffffff !important;
    background-color: $danger !important;
}

// No outline buttons
button.outline-none:focus,
button.outline-none:active {
    box-shadow:none !important;
    outline:0px !important;
}

// Checkbox toggle buttons
button.checkboxtoggle:hover {
    color: $blue-500 !important;
}

// Details toggle buttons
button.detailstoggle:hover {
    color: $dark !important;
}

// Errors toggle buttons
button.errorstoggle:hover {
    color: $red-500 !important;
}

// No link outlines (e.g. quick menu dropdowns)
a.outline-none {
    outline: none;
}

// Overview cards
.overview-card:hover {
    background-color: $hover-bg;
}

// Side menu
.menu-item.active {
    background-color: $hover-bg;
    color: $primary !important;
    font-weight: bold;
}

.menu-item:hover {
    background-color: $hover-bg;
    color: $primary !important;
    text-decoration: none;
}

// Html help example code
.markdown-example-input > pre {
    margin-bottom: 0;
}

.markdown-example-output blockquote {
    border-left: 2px solid;
    border-color: $secondary;
    padding-left: 5px;
}

.markdown-example-output pre {
    background-color: $light;
}

// Avatars
.avatar {
    min-height: 4em;
    min-width: 4em;
    max-height: 4em;
    max-width: 4em;
}

// Status border
.border-status {
    border-left: 3px solid;
}

// Attachments
.attachment-img-preview {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
}

.attachment:hover {
    background-color: $hover-bg !important;
}

// Minimum width of 0
.min-w-0 {
    min-width: 0;
}

// Link heights corresponding to feather icons for split dropdowns in navbar
.h-12 {
    min-height: 12px;
    max-height: 12px;
}

.h-16 {
    min-height: 16px;
    max-height: 16px;
}

.h-20{
    min-height: 20px;
    max-height: 20px;
}

.h-14 {
    min-height: 24px;
    max-height: 24px;
}

.h-28 {
    min-height: 28px;
    max-height: 28px;
}

.h-32 {
    min-height: 32px;
    max-height: 32px;
}

// Single line height textarea for form controls
.textarea-h1 {
    height: calc(1.6em + 0.75rem + 2px) !important;
}

// Display textarea line breaks correctly
.whitespace-preline {
    white-space: pre-line;
}

.scroll-x {
    overflow-x: auto;
    white-space: nowrap;
    //-ms-overflow-style: none;
    //scrollbar-width: none;
}

//.scroll-x::-webkit-scrollbar {
//    display: none;
//}

.z-10 {
    z-index: 10;
}

.col-1-5 {
    flex: 0 0 12.3%;
    max-width: 12.3%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

// Collapse animation
.collapse-enter-active, .collapse-leave-active {
    transition: opacity .5s;
}
.collapse-enter, .collapse-leave-to {
    opacity: 0
}
